{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <H1>Liste seus filmes e series aqui!</H1>
    <br>
    <br>


    <ol class="list-group">
      <div class="container">
        <a href="{% url 'criaritem' %}"><button type="button" class="btn btn-success">Novo</button></a>
        <br> <br>
        
        
            {% for lista in lista %}
            <div class="row">
              <div class="col-sm-6">
                
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">{{lista.nome}}</h5>
                    </div>

                    {% if lista.resenha %}
                      <p class="mb-1">Resenha: {{lista.resenha}}</p>
                    {% endif%}
                    
                    {% if lista.concluido %}
                      <small>Concluido</small>
                    {% endif%}
                
              </div>
              <div class="col-sm-3">
                <small>Categoria: {{lista.tipo_filme}}</small>
              </div>
              <div class="col-sm-3">
                <a href="{% url 'editar' lista.id %}"><button type="button" class="btn btn-primary  me-md-2">Editar</button></a>
                <a ref="{% url 'delete' lista.id %}"><button type="button" class="btn btn-danger me-md-2">Deletar</button></a>
              </div>
            </div>
            <hr>
            <br>
            {% endfor %}
        </div>
        
    </ol>

</div>
{% endblock content %}