{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">

    <H1>Liste seus filmes e series aqui!</H1>
    <br>
    <br>


    <ol class="list-group">
      <div class="container">
        <a href="{% url 'criaritem' %}"><button type="button" class="btn btn-success">Novo</button></a>
        <br> <br>
        
        
            {% for lista in lista %}
            <div class="row">
              <div class="col-sm-8">
                <div class="list-group">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{lista.nome}}</h5>
                    <small>Categoria: {{lista.tipo_filme}}</small>
                    </div>
                    <p class="mb-1">Resenha: {{lista.resenha}}</p>
                    <small>Concluido: {{lista.concluido}}</small>
                </div>
              </div>
              <div class="col-sm-4">
                <a href="#"><button type="button" class="btn btn-primary mt-1 me-md-2">Detalhes</button></a>
                <a href="#"><button type="button" class="btn btn-primary mt-1 me-md-2">Editar</button></a>
                <a href="#"><button type="button" class="btn btn-danger mt-1 me-md-2">Deletar</button></a>
              </div>
            </div>
            <hr>
            <br>
            {% endfor %}
        </div>
        
    </ol>

</div>
{% endblock content %}